body {
  background: white;
}

div#body {
  background: #eee;
}

h1 {
  color: black;
  background: white url('images/white_header.gif') repeat-x;
  border-color: black black white black;
}

div {
  color: black;
  background: white;
  border-color: black;
}

a {
  color: #444;
}

table.rank {
  color: black;
}

table.rank th {
  background: white;
}

table.rank td.atkplr {
  background: #eee;
  border-color: black;
}

tr.row1 {
  background: #ddd;
}

tr.row2 {
  background: #eee;
}

tr.rowx, table.toprank tr.rowx th {
  background: white;
}

tr.row1 td.sort, tr.row1 th.sort {
  background: #ccc;
}

tr.row2 td.sort, tr.row2 th.sort, table.toprank td.sort {
  background: #ddd;
}

tr.rowx td.sort, tr.rowx th.sort {
  background: #f8f8f8;
}

.title {
  background: white url('images/white_banner.gif') repeat-x;
  border-color: black;
}

.copyright {
  background: white url('images/white_banner.gif') repeat-x;
  border-color: black;
}

.nav span {
  background: white url('images/white_title.gif') repeat-x bottom;
  border-color: black;
}

.hptext {
  color: white;
}

.nav a {
  color: #666;
}

.nav a:hover {
  color: #fff;
  background: #aaa;
  border-color: #ddd #666 #666 #ddd;
}

.nav a:active {
  border-color: #666 #ddd #ddd #666;
}
